ul{
    display: flex;
    flex-direction: column;
}
.todoitem{
    display: flex;
    float: inline-start;
    border-bottom: 1px solid black;
}
.frecce{
    height: 20px;
    width: 20px;
}
.btn_frecce{
    border: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.check_task, .btn_frecce, .label_task{
    margin: 5px 2px;
}